# build files
out
coverage
tsconfig.*tsbuildinfo

# schema files
/schema

# env files
.env*

# dependencies
node_modules
npm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# editors
.idea

# vscode
.vscode-test/
*.vsix

# misc
.DS_Store
