# config
.github
.all-contributorsrc
.gitignore
.eslintrc.js
jest.config.js
.prettierrc.js
tsconfig.json
webpack.config.js

# vscode
.vscode/**
.vscode-test/**

# project
node_modules/**
src/**
test/**
*.tsbuildinfo
**/*.map
**/*.ts
